<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:task="http://www.springframework.org/schema/task" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc.xsd
			http://www.springframework.org/schema/task 
			http://www.springframework.org/schema/task/spring-task-3.0.xsd 
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd">


	<!--扫描指定包下的注解，自动注入 -->
	<context:component-scan base-package="cn.ssm" > 
		<context:include-filter type="regex" expression=".controller,.service"/> 
	</context:component-scan> 
	<!-- 解决定时任务问题 -->
	<task:annotation-driven/>
	<!-- 配置上传文件多部件的 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
	<!-- 配置请求的前缀和后缀 -->
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="contentType" value="text/html;charset=UTF-8" />
		<!--结果视图的前缀-->
	    <property name="prefix" value="/WEB-INF/jsp/"/>
	    <!--结果视图的后缀-->
	    <property name="suffix" value=".jsp"/>
	</bean>
</beans>